:root {
	--container-width: 1308px;
	--container-padding: 12px 18px;

	--font-main: Proxima Nova, sans-serif;
	--font-accent: Proxima Nova Bold, sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #262626;
	--accent: #ac182c;
	--link-color: #2578c8;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 576px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}